:root {
    --cyan: #60c3dd;
    --DarkBlue: #080329;
    --purple: #250028;
    --white: #fff;
    --black: #000;
    --green: #31efb8;
    --HeaderFont: 'roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--DarkBlue);
    height: 100%;
    color: var(--white);
}

main {
    min-height: 100%;
}

.layout {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}