.header-nav {
    display: flex;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--DarkBlue);
    justify-content: flex-start;
    color: var(--cyan);
    border-bottom: solid 4px var(--green);
    font-family: var(--HeaderFont);

}

.header-nav h1 {
    padding-left: 10px;
    margin: 0;
    flex: 3;
    align-self: center;
}

.header-nav nav {
    align-content: space-evenly;
    flex: 1;
    display: flex;
    margin-right: 10px;

}

.header-nav nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.header-nav nav ul li {
    list-style: none;
    align-self: center;
}